<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обыкновенные дроби</title>
    <link href="/static/page.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Обыкновенные дроби</h1>
        <p><strong>Определение:</strong> Запись вида \(\frac{a}{b}\), где \(a\) и \(b\) - натуральные числа, называется обыкновенной дробью. В дроби \(\frac{a}{b}\) число \(a\) называют числителнм, а число \(b\) - знаменателем дроби.</p>
        <p>Числитель дроби пишут над чертой, а знаменатель - под чертой.</p>
        <p>Знаменатель показывает, на сколько долей разделено целое, а числитель – сколько таких долей взято.</p>
        <p><strong>Правило чтения:</strong> Дроби читают так: числитель дроби как количественное числительное женского рода (одна, две, восемь и т.д.), а знаменатель дроби как порядковое числительное (седьмая, сотая, двести тридцатая и т.д.).</p>
        <div class="example">
            <p><strong>Пример:</strong>
                <ul>
            <li>\(\frac{1}{6}\) - одна шестая; \(\frac{2}{7}\) - две седьмых; \(\frac{5}{1000}\) - пять тысячных.</li>
            <li>\(\frac{73}{354}\) - семьдесят три триста пятьдесят четвёртых.</li>
        </ul> 
        </div>

        <h2>Правильные и неправильные дроби</h2>
        <p>Числитель дроби \(\frac{5}{6}\) меньше знаменателя. Такие дроби называют правильными. Числитель дроби \(\frac{6}{6}\) равен знаменателю, а числитель дроби \(\frac{7}{6}\) больше знаменателя. Такие дроби называют неправильными.</p>
        <p><strong>Правило:</strong></p>
        <ul>
            <li>Дробь, числитель которой меньше знаменателя, называют правильной дробью.</li>
            <li>Дробь, числитель которой больше знаменателя или равен ему, называют неправильной дробью.</li>
        </ul>
        <p><i>Правильная дробь меньше единицы, а неправильная дробь больше или равна единице.</i></p>
        <div class="example">
            <p><strong>Пример:</strong> \(\frac{5}{7} < 1\), \(\frac{9}{9}  = 1\), \(\frac{11}{9} > 1\).</p>
        </div>

        <h2>Основное свойство дроби</h2>

        <p>Если числитель и знаменатель дроби умножить или разделить на одно и то же натуральное число, то получится равная ей дробь:</p>
        <ul>
            <li>\(\frac{a}{b} = \frac{a \cdot n}{b \cdot n}\), где \(n\) – натуральное число.</li>
            <li>\(\frac{a}{b} = \frac{a \div n}{b \div n}\), где \(n\) – общий делитель чисел \(a\) и \(b\).</li>
        </ul>
        <p>С помощью основного свойства дроби выполняют сокращение дробей и приведение дробей к общему знаменателю</p>
        <div class="example">
            <p><strong>Пример:</strong>
                <p>Сократим дробь \(\frac{12}{18} = \frac{12 \div 6}{18 \div 6} = \frac{2}{3}\).</p>
                <p>Приведём дроби \(\frac{5}{6}\) и \(\frac{4}{9}\) к общему знаменателю \(18\): \(\frac{5 \cdot 3}{6 \cdot 3} = \frac{15}{18}\) и \(\frac{4 \cdot 2}{9 \cdot 2} = \frac{8}{18}\).</p>
        </div>

        <h3>Деление натуральных чисел и дроби</h3>
        <p>Результат деления натурального числа m на натуральное число n можно всегда записать с помощью дроби, независимо от того, делится одно число на другое или не делится: \(m \div n = \frac{m}{n}\).</p>
        <p>Частное будет натуральным числом, если деление выполняется нацело, и дробным числом, если разделить нацело нельзя.</p>
        <div class="example">
            <p><strong>Пример:</strong></p>
            <p>\(36 \div 3 = \frac{36}{3} = 12\).</p>
            <p>\(5 \div 1 = \frac{5}{1} = 5\).</p>
            <p>\(5 \div 8 = \frac{5}{8}\).</p>
            <p>\(9 \div 7 = \frac{9}{7}\).</p>
        </div>
        <p>Каждое натуральное число можно представить в виде дроби с любым натуральным знаменателем.</p>
        <p>Числитель этой дроби равен произведению данного числа и этого знаменателя.</p>
        <div class="example">
            <p><strong>Например,</strong> представим число \(7\) в виде дроби со знаменателем \(9\). Для этого найдём число, которое при делении на \(9\) даст число \(7\). Это число \(63\).</p>
            <p>Значит, \(7= \frac{63}{9}\).</p>
        </div>

        <h4>Смешанные числа</h4>
        <p>Сумму \(1 + \frac{3}{4}\) принято записывать без знака плюс: \(1 \frac{3}{4}\). Натуральное число \(1\) называют целой частью числа \(1 \frac{3}{4}\), а правильную дробь \(\frac{3}{4}\) – его дробной частью.</p>
        <p><strong>Правило чтения:</strong> Запись \(1 \frac{3}{4}\) читают так: «одна целая три четвёртых», или короче: «одна и три четвёртых».</p>
        <p><strong>Определение:</strong> Запись числа, содержащую целую часть и дробную части, называют смешанной. Для краткости вместо «число в смешанной записи» говорят: смешанное число или смешанная дробь.</p>
        <p><strong>Алгоритм выделения целой части из неправильной дроби</strong>
        <p>Чтобы неправильную дробь (не равную натуральному числу) представить в виде смешанного числа, надо:</p>
            <ol>
            <li>Разделить числитель на знаменатель.</li>
            <li>Найти неполное частное, которое будет целой частью.</li>
            <li>Найти остаток, который будет числителем дробной части, а знаменатель оставить без изменения.</li>
        </ol>
        <div class="example">
            <p><strong>Например,</strong> чтобы записать неправильную дробь \(\frac{7}{4}\) в виде смешанного числа \(1 \frac{3}{4}\), надо разделить \(7\) на \(4\). Получим неполное частное \(1\) и остаток \(3\). Число \(1\) даёт целую часть, а остаток \(3\) – числитель дробной части.</p>
        </div>

        <p><strong>Алгоритм представления смешанного числа в виде неправильной дроби</strong>
        <p>Чтобы представить смешанное число в виде неправильной дроби, надо:</p>
        <ol>
            <li>Умножить знаменатель на целую часть.</li>
            <li>Прибавить числитель к полученному произведению</li>
            <li>Записать полученную сумму числителем дроби, знаменатель оставить без изменения.</li>
        </ol>
        <div class="example">
            <p><strong>Пример:</strong> \(7 \frac{11}{13}= \frac{7 \cdot 13 + 11}{13}= \frac{102}{13}\).</p>
        </div>

        <h2>Генерация заданий</h2>
        <p>Нажмите кнопку ниже, чтобы сгенерировать задания.</p>
        <div class="button" onclick="generateTest()">Сгенерировать задания</div>
        <div id="testOutput"></div>

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ url_for('student.learning_materials') }}" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left me-2"></i><h4>Назад к списку тем</h4>
            </a>
        </div>
    </div>
    <script src="/static/js/script_1.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>